<mat-table [dataSource]="courses">
  <!-- Name Column -->
  <ng-container class="container-name" matColumnDef="name">
    <mat-header-cell class="mat-header-cell-column-name" *matHeaderCellDef
      >Curso</mat-header-cell
    >
    <mat-cell class="column-name" *matCellDef="let course">{{
      course.name
    }}</mat-cell>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <mat-header-cell class="column-category" *matHeaderCellDef
      >Categoria</mat-header-cell
    >
    <mat-cell class="column-category" *matCellDef="let course">
      <mat-icon
        aria-hidden="false"
        title="{{ course.category }}"
        aria-label="Categoria do curso"
      >
        {{ course.category | category }}</mat-icon
      >
    </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell class="mat-header-cell-action-column" *matHeaderCellDef>
      <button
        mat-mini-fab
        color="accent"
        aria-label="Adicionar curso"
        (click)="onAdd()"
        class="icon-add"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell class="action-column" *matCellDef="let course">
      <button
        mat-icon-button
        color="primary"
        aria-label="Editar curso"
        (click)="onEdit(course)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        aria-label="Remover curso"
        (click)="onDelete(course)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
